.opening {
    // min-height: auto;
    // background: linear-gradient(to top, #f5eee4,#e0c9a0);
    padding: 64px 0 32px;
    .golongan {
        display: block;
        margin: 0 auto 32px;
        // transform: rotate(1.4deg);
        text-align: center;
        background: #f7f7f7;
        padding: 16px;
        width: fit-content;
        box-shadow: 2px 3px 4px #111;
        @media screen and (max-width:768px) {
            width: 90%;
        }
        .allx {
            display: inline-block;
            width: 200px;
            // width: 220px;
            height: 220px;
            @media screen and (max-width:768px) {
                height: 100px;
                width: 20%;
            }
            .img {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                text-align: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .gen {
                text-align: center;
                width: fit-content;
                padding: 8px;
                background: linear-gradient(to right, #f6bd37, #f7c854);
                margin: 0 auto;
                box-shadow: 2px -1px 3px #999;
                // border-radius: 8px;
                // font-weight: 700;
                @media screen and (max-width:768px) {
                    font-size: 10px;
                }
            }

            .th {
                @media screen and (max-width:768px) {
                    font-size: 9px;
                    text-align: center;
                }
            }
        }
    }
}