.partai {
    padding-bottom: 50vh;
    @media screen and (max-width:768px) {
        padding-bottom: 50vh;
    }
    .baca-koran {
        position: absolute;
        bottom: -56%;
        left: -40%;
        width: fit-content;
        height: 320px;
        @media screen and (max-width:768px) {
            height: 220px;
            left: -5%;
            z-index: 8;
            bottom: -45%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    
    .arah {
        position: absolute;
        bottom: -65px;
        height: 200px;
        width: 65%;
        border: 3px dashed white;
        z-index: 0;
        left: -100px;
        border-left: 3px dashed transparent;
        border-top: 3px dashed transparent;
        @media screen and (max-width:768px) {
            bottom: -100px;
            width: 30%;
            left: 100px;
        }
    }
    .kotak {
        border-radius: 16px;
        padding: 16px;
        min-height: 50vh;
        position: relative;

        background: linear-gradient(to bottom, rgba(white,.3), #ececec 50%);
        .all {
            display: block;
        }
        .pemimpin {
            text-align: center;
            font-size: 1.3rem;
            line-height: 1.5rem;
            /* font-weight: 700; */
            width: 75%;
            margin: 8px auto;
            font-family: 'Prompt';
            @media screen and (max-width:768px) {
                font-size: .9rem;
            }
        }
        .bendera {
            // width: 200px;
            position: relative;
            padding: 16px;
            border-radius: 8px 8px 0 0;
            background: linear-gradient(45deg, #E0C99F, #f7e7cb);
            // border: 2px solid white;
            // display: inline-block;
            height: 200px;
            @media screen and (max-width:768px) {
                height: 120px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
    }

    .surat2 {
        display: block;
        margin: 0 auto 8px;
        text-align: center;
        .gimmick {
            display: inline-block;
            width: 18%;
            height: 50px;
            text-align: center;
            vertical-align: top;
            border: 2px dashed #c09b59;
            margin: 0 2px;
            padding: 4px;
            font-weight: bold;
            color: #362507;
            font-size: 12px;
            background: #e0c99f;            // background: linear-gradient(white, white)
            //     padding-box,
            //     repeating-linear-gradient(-45deg,
            //     #C8102E 0, #C8102E 12.5%,
            //     #ffffff 0, #ffffff 25%,
            //     #3492b8 0, #3492b8 37.5%,
            //     #ffffff 0, #ffffff 50%)
            //     0 / 5em 5em;
            // border-radius: 8px;

            @media screen and (max-width:768px) {
                
                width: 31%;
                height: 46px;
                margin: 4px 2px;
                font-size: 10px;
                }
        }
    }
    .ketum {
        text-align: center;
        padding: 12px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2;
        color: white;
        width: 100%;
        height: 60px;
        background: linear-gradient(45deg, #a8864a, #e0c9a0);
        border-radius: 0 0 8px 8px;
        @media screen and (max-width:768px) {
            font-weight: normal;
            line-height: 1.1;
            font-size: .9rem;
        }
    }
    .angka {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        z-index: 2;
        background: white;
        padding: 0;
        font-size: 1.8rem;
        height: 40px;
        // background: #a8864a;
        border-radius: 50%;
        text-align: center;
        color: #76561d;
        font-weight: 700;
        @media screen and (max-width:768px) {
            // width: 30px;
            // height: 30px;
            // font-size: 1.2rem;
            // font-weight: normal;
        }

    }
}