.poll {
    min-height: auto;
    .strawpoll-embed {
        height: 50vh; 
        max-width: 640px; 
        width: 100%; margin: 0 auto; 
        display: flex; 
        flex-direction: column;
        @media screen and (max-width:768px) {
            height: 50vh;
        }
    }
}