.sah {
    min-height: auto;
    padding: 100px 0 32px;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/kots.png');
        z-index: -1;
    }
    .corrupt {
        // position: absolute;
        // left: ;
        width: 150px;
        height: auto;
        vertical-align: middle;
        display: inline-block;
        @media screen and (max-width:768px) {
            width: 70px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .tdk {
        display: inline-block;
        width: 75%;
        vertical-align: middle;
        @media screen and (max-width:768px) {
            width: 70%;
        }
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background: linear-gradient(to bottom, #e0c9a0 10%, rgba(#e0c9a0,.7), #e0c9a0 80%);
    }
    .kertas-bawah {
        position: absolute;
        top: -16%;
        right: 0;
        left: -5%;
        width: 105%;
        height: auto;
        @media screen and (max-width:768px) {
            top: -32px;
            left: 0;
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @keyframes rota {
        0%, 100% {
          transform: rotate(0deg);
        }
        50% {
          
          transform: rotate(180deg);
        }
      }
    .roda {
        position: absolute;
        left: -25%;
        animation: rota 10s linear infinite;
        bottom: 15%;
        width: 180px;
        height: auto;
        @media screen and (max-width:768px) {
            bottom: 50%;
            width: 108px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @keyframes MoveUpDown {
        0%, 100% {
          top: -32px;
        }
        50% {
          top: -16px;
        }
      }
    .wave {
        position: absolute;
        right: -10vw;
        top: -32px;
        width: 120px;
        animation: MoveUpDown 2s linear infinite;
        height: auto;
        @media screen and (max-width:768px) {
            position: absolute;
            right: -20vw;
            top: -32px;
            width: 30%;
            z-index: 1;
            height: auto;
            opacity: 1;
    }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .desc {
        @media screen and (max-width:768px) {
            width: 45%;
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
        }
    }

    
    .img {
        width: 100%;
        height: fit-content;
        border: 2px solid black;
        margin-bottom: 16px;
        position: relative;
        @media screen and (max-width:768px) {
            display: inline-block;
            width: 50%;
        }
        .paku {
            position: absolute;
            width: 50%;
            height: auto;
            &-1 {
                
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) ;
            }
            &-2 {
                top: -20%;
                left: 50%;
                // transform: rotate(25deg);
            }
            &-3 {
                bottom: -16px;
                left: 50%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .bg-text {
        background: linear-gradient(to bottom, white, rgba(white,.5));
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 16px;
        p {
            margin-bottom: 0;
        }
    }

    
}